.hero-form{
    background-color: rgb(223,186,235);
    // height: 100vh;
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
    }
}

// 
.flex-col {
    display: flex;
    flex-direction: column;
}
.grid-col-three{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}
.grid-col-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.work-experince{
    padding: 2rem 0;
}
.experince-legend,.skills-legend,.achievement-legend{
    display: flex;
    justify-content: space-between;
}
.plus,.skill-plus,.achievement-plus{
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
}
.education-col {
    padding: 2rem 0;
}

.btn-wrap{
    text-align: center;
    margin: 1rem 0;
    .btn{
        padding: 0.75rem 3rem;
        border-radius: 10rem;
        border: 0;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;

    }
}
.grid-col{
    display: grid;
}