/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

input {
  padding: 0.5rem 2rem;
  margin: 0.1rem 0;
  border-radius: 10px;
  border: none;
  background-color: #b5a7e9;
}

input ::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

input :-ms-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

input ::-ms-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

input ::placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

legend {
  font-size: 1.5rem;
  color: black;
  font-weight: 800;
  padding: 1rem 0;
}

textarea {
  margin: 0.1rem 0;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: blanchedalmond;
}

textarea ::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

textarea :-ms-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

textarea ::-ms-input-placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

textarea ::placeholder {
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.425);
}

label {
  font-size: 1rem;
  font-weight: 700;
}

.hero-form {
  background-color: #dfbaeb;
}

.hero-form h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-col-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-col-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.work-experince {
  padding: 2rem 0;
}

.experince-legend, .skills-legend, .achievement-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plus, .skill-plus, .achievement-plus {
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
}

.education-col {
  padding: 2rem 0;
}

.btn-wrap {
  text-align: center;
  margin: 1rem 0;
}

.btn-wrap .btn {
  padding: 0.75rem 3rem;
  border-radius: 10rem;
  border: 0;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.grid-col {
  display: -ms-grid;
  display: grid;
}

.container1 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 0;
}

.justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-right {
  text-align: right;
}

.resume {
  background-color: whitesmoke;
  border: 8px solid #5b9dd7;
  padding: 2rem 1rem;
}

.resume h1 {
  font-size: 3rem;
  font-weight: 700;
}

.resume h1 em {
  color: #5b9dd7;
}

.resume h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.3rem 0;
}

.resume h3 {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.3rem 0;
}

.resume h6 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 0;
}

.resume p {
  font-size: 1rem;
  color: grey;
  padding: 0.2rem 0;
}

.resume address {
  font-size: 1rem;
  color: grey;
}

div:empty {
  border-top: 4px solid #5b9dd7;
}

.skills-achieve {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.company-desc {
  width: 55%;
}
/*# sourceMappingURL=main.css.map */